.Box{
    background: #fff;
    border: 2px solid rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 10px;
    text-align: center;
    width: 250px; 
}

.Hover{
    padding-left: 3in;
}